.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: grid;
  grid-gap: 2em;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Cat {
  height: auto;
  width: 100%;
}

.Sand {
  color: #363636;
  background-color: lightgoldenrodyellow;
}

.Green {
  color: #363636;
  background-color: lightslategrey;
}
